.form-floating > label {
    margin-left: 1em;
}

@media print
{
    #input {
        display: none;
    }

    .progress-bar {
        border-right: 1px solid black;
    }

    .progress {
        border: 1px solid black;
    }
}
